<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'app/image.png' %}">
    <title>Listar Peliculas</title>
</head>

<body class="index-page">
    <div class="actions-bar">
        <a href="subir/">
            <button>Subir</button>
        </a>
        <a href="resumen/">
            <button>Resumen</button>
        </a>
        <a href="accounts/logout/">
            <button>Logout</button>
        </a>
    </div>
    {% if movies %}
    <div class="movies">
        {% for movie in movies %}
            <div class="movie-card" style="position: relative;">
                <img src="{{ movie.poster }}" alt="{{ movie.title }}">
                <h2>{{ movie.title }}</h2>
                <p>{{ movie.descripcion }}</p>
                <span>⭐ {{ movie.calificacion }}</span>
    
                <a href="editar/{{ movie.id }}" class="main-link"></a>
            </div>
        {% endfor %}
    </div> {% else %}
    <h2>No hay peliculas disponibles :(</h2>
    {% endif %}
</body>
</html>