<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
    <title>Subir pelicula</title>
</head>
<body class="form-page">
    <div class="datos">
        <form method="post">
            {% csrf_token %}
            <input type="text" name="titulo" placeholder="titulo" required>
            <input type="text" name="img" placeholder="url img" required>
            <input type="number" name="duration" placeholder="duracion en minutos" required>
            <input type="text" name="descripcion" placeholder="descripcion">
            <input type="number" name="nota" placeholder="nota" required>
            <button type="submit">Subir</button>
        </form>
    </div>
</body>
</html>